/*********************************************
Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centering the canvas (and anything else)
using CSS Grid.

Also hides overflow.
**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}

/* Container holding the title */
.arcade-container {
  position: relative;
  width: fit-content;
  margin: auto;
}

/* Canvas styling */
#gameCanvas {
  border: 100px solid black;
  box-shadow: 0 0 20px black;
  display: block;
  margin-top: 20px;
}

/* Title text styling */
.arcade-title {
  position: absolute;
  top: 1px;
  /* Adjust to fit inside the top border */
  left: 50%;
  transform: translateX(-50%);
  /* Center the text horizontally */
  font-size: 58px;
  color: #ffffff;
  font-family: 'rainyhearts', sans-serif;
}