/*********************************************
Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centering the canvas (and anything else)
using CSS Grid.

Also hides overflow.
**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
}

/* Arcade Container */
.arcade-container {
  position: relative;
  width: fit-content;
  margin: auto;
}

/* Canvas Styling for Arcade Border */
#gameCanvas {
  border: 160px solid black;
  box-shadow: 0 0 20px black;
  display: block;
  margin-top: 20px;
}

/* Title Text Styling */
.arcade-title {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 74px;
  color: #ffffff;
  font-family: 'rainyhearts', sans-serif;
}

/* Button Container (Bottom of Border) */
.button-container {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  /* space between buttons */
  gap: 20px;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Button Styling */
.button-container button {
  background-color: #3333FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 26px;
  font-family: 'rainyhearts', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: background-color 0.3s;
}

#redCircleButton {
  width: 60px;
  height: 60px;
  background-color: #FF0000;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

#redCircleButton:hover {
  background-color: #FF3333;
}

/* Joystick */
.joystick-stick {
  position: fixed;
  bottom: -30px;
  /* Position under button */
  left: calc(50% + 114px);
  transform: translateX(-50%);
  width: 8px;
  height: 30px;
  background-color: #666666;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button-container button:hover {
  background-color: #5555FF;
}